.signout-btn {
  color: $color-main;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  padding: 5px;
  padding-right: 0;
  &:hover {
    color: $color-secondary;
  }
}
