.admin-panel {
  padding-top: 120px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: left;

  &__toggle {
    font-weight: 400;
    color: $color-main;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in Internet Explorer 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    &__action-btn {
      margin-left: 30px;
    }

    &__label {
      word-break: keep-all;
    }
  }

  &__approved-text {
    color: $color-approve;
    margin-left: 30px;
  }

  &__declined-text {
    color: $color-dangerous;
    margin-left: 30px;
  }

  &__content {
    border: 1px dashed $color-main;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 800px;
    margin-top: 30px;
  }

  &__container {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
