.home {

  @include breakpoint('to-tablet-l') {
    display: flex;
    flex-direction: column;
  }

  &__intro {
    margin-top: 150px;
    width: 90%;
    &__text {
      line-height: 1.5rem;
      font-size: 18px;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
  }
  &__title {
    margin-bottom: 5px;
  }

  &__register {
    &__form {
      width: 25%;
      display: flex;
      flex-direction: column;
      @include breakpoint('to-tablet-l') {
        width: 100%;
      }

      &__footer {
        background-color: white;
        border-top: 1px solid black;
        width: 100%;
        height: 80px;
        position: fixed;
        bottom: 0px;
        left: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;

        &__button {
          width: 200px;
          min-height: 50px;
          margin: 0px;
        }
      }

      &__title {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }

      &__paragraph {
        @include breakpoint('from-laptop') {
          width: 200%;
        }
        word-break: break-word;
        line-height: 22px;
        color: $color-secondary;
      }

      &__add-to-list-btn {
        margin-bottom: 20px;
        &:hover {
          color: $color-secondary;
          cursor: pointer;
        }
      }

      &__add-btn {
        width: 65%;
        margin: 0;
        margin-bottom: 30px;
        @include breakpoint('to-tablet-l') {
          width: 100%;
        }
      }

      &__venue {
        margin-bottom: 35px;
      }

      &__submit-btn {
        width: 50%;
        margin: 0;
        margin-bottom: 30px;
        @include breakpoint('to-tablet-l') {
          width: 100%;
        }
      }
      &__switch-container {
        margin-bottom: 20px;
        margin-top: 10px;
      }
      &__date-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 35px;
      }
      &__datepicker {
        display: flex;
        flex-direction: column;
      }
      &__list {
        &__container {
          @include breakpoint('from-laptop') {
            width: 90vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
          }
        }
        &__thin-element {
          @include breakpoint('phone-small') {
            width: 275px;
          }
          width: 400px;
          padding: 30px;
          padding-top: 10px;
          padding-bottom: 10px;
          border: 1px dashed $color-main;
          margin-bottom: 18px;
          display: inline-block;
          margin-top: 24px;
          position: relative;
        }
        &__element {
          @include breakpoint('phone-small') {
            width: 275px;
          }
          width: 400px;
          padding: 30px;
          border: 1px dashed $color-main;
          margin-bottom: 18px;
          display: inline-block;
          margin-right: 24px;
          position: relative;

          &__close {
            font-size: 36px;
            font-weight: 200;
            background-color: white;
            position: absolute;
            top: -16px;
            right: -16px;
            cursor: pointer;
            line-height: 0px;
            &:hover {
              color: $color-dangerous;
            }
          }
        }
      }
      &__label {
        word-break: break-word;
        color: $color-main;
        font-size: 16px;
        &__date {
          color: $color-main;
          font-size: 16px;
          align-self: center;
          margin-right: 10px;
          margin-left: 10px;
          &:first-child {
            margin-left: 0px;
          }
        }
      }
    }
  }
}
