.landing__container {
  padding: 100px;
  @include breakpoint('to-tablet-l') {
    padding: 40px;
  }
}

.landing__title {
  &__main {
    font-size: 100px;
    margin-bottom: 0px;
    @include breakpoint('to-tablet-l') {
      font-size: 40px;
    }
  }
  
  &__secondary {
    font-size: 60px;
    color: $color-secondary;
    margin-top: 20px;
    @include breakpoint('to-tablet-l') {
      font-size: 36px;
    }
  }
}

.landing__text-content {
  font-size: 18px;
  max-width: 90%;
  font-weight: 200;
  line-height: 1.5rem;
}

.landing__text-content > a {
  font-weight: 500;
  text-decoration: underline;
  color: $color-secondary;
}

li {
  list-style: none;
  line-height: 2rem;
}