.pavilion-registration-status {
  &__edit-details-btn {
    width: 200px;
  }

  &____waiting-for-approval {
    margin-top: 30px;
    width: 50%;

    &__text {
      font-size: 20px;
    }

    > ul {
      list-style-type: circle;
      padding: 1rem;
    }

    > ul > li {
      line-height: 1.5rem;
      margin: 0 0 1rem 0;
    }
  }
  &__date-box {
    max-width: 500px;
    padding: 15px;
    border: 2px dashed $color-main;
    margin-bottom: 40px;
  }
  &__cautious-text {
    color: $color-main;
  }
}
