.settings {
  &__title {
    padding-top: 20px;
  }
  &__login-management {
    p {
      margin-top: 40px;
    }
  }
  &__password-forget,
  &__password-change {
    margin: 50px 0;
  }
  &__page-container {
    width: 25%;
  }
}
